<table>
    <thead>
      <tr>
        <th>Tipo</th>
        <th></th>
      </tr>
    </thead>
    <tfoot></tfoot>
    <tbody>
        <% @tipo_mesas.each do |tipo_mesa| %>
          <tr>
            <td><%= tipo_mesa.tipo %></td>
            <td>
                <%= link_to 'Mostrar', tipo_mesa %>
                <%= link_to 'Editar', edit_tipo_mesa_path(tipo_mesa) %>
                <%= link_to 'Excluir', tipo_mesa, confirm: 'Deseja realmente excluir?', method: :delete %>
            </td>
          </tr>
        <% end %>
    </tbody>
</table>